@use "../abstracts/_variables" as *;

@for $i from 1 through 3 {
  .border-#{$i} {
    border: #{$i}px solid;
  }
}

$color-map: (
  "white": $color-white,
  "blue": $color-blue,
);

@each $name, $value in $color-map {
  .border-#{$name} {
    border-color: $value;
  }
}
