@use "sass:map";
@use "sass:math";

@use "../abstracts/_variables" as *;
@use "../base/_mediaQueries" as *;
@use "./mixins" as *;

@function px-to-rem($px) {
  @return math.div($px, $base-font-size) * 1rem;
}
@function line-height($line-height, $font-size) {
  @return math.div($line-height, $font-size);
}

@function get-font-metric($font-name, $metric) {
  @return map.get(map.get($font-metrics, $font-name), $metric);
}

@function metric-to-em($font-name, $metric-key) {
  $metric: get-font-metric($font-name, $metric-key);
  $unitsPerEm: get-font-metric($font-name, "unitsPerEm");

  @return math.div($metric, $unitsPerEm) * 1em;
}

$font-metrics: (
  "gellix": (
    capHeight: 700,
    ascent: 1037,
    descent: -163,
    lineGap: 0,
    unitsPerEm: 1000,
  ),
  "piepie": (
    capHeight: 700,
    ascent: 1079,
    descent: -183,
    lineGap: 0,
    unitsPerEm: 1000,
  ),
);
@mixin capsize-trim($font-name, $font-size, $line-height: null) {
  $cap: metric-to-em($font-name, "capHeight");
  $ascent: metric-to-em($font-name, "ascent");
  $descent: metric-to-em($font-name, "descent");
  $lineGap: metric-to-em($font-name, "lineGap");

  $absoluteDescent: abs($descent);

  $ascentScale: $ascent;
  $descentScale: $absoluteDescent;
  $capHeightScale: $cap;
  $lineGapScale: $lineGap;

  $contentArea: $ascent + $lineGap + $absoluteDescent;

  // Height of the content area of the font
  $lineHeightNormal: $contentArea;

  $specifiedLineHeightOffset: 0;

  @if $line-height != null {
    $specifiedLineHeightOffset: math.div($lineHeightNormal - $line-height, 2);
  }

  $capHeightTrim: -1 *
    (
      ($ascentScale - $capHeightScale + math.div($lineGapScale, 2)) -
        $specifiedLineHeightOffset
    );
  $baselineTrim: -1 *
    (($descentScale + math.div($lineGapScale, 2)) - $specifiedLineHeightOffset);

  font-size: $font-size;
  @if $line-height != null {
    line-height: $line-height;
  }

  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::before {
    margin-bottom: $capHeightTrim;
  }

  &::after {
    margin-top: $baselineTrim;
  }
}

$text-settings-array: (
  "caption": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-caption),
    "line-height": line-height($text-lh-caption, $text-size-caption),
    "font-size-md": px-to-rem($text-size-caption),
    "line-height-md": line-height($text-lh-caption, $text-size-caption),
    "font-size-lg": px-to-rem($text-size-caption),
    "line-height-lg": line-height($text-lh-caption, $text-size-caption),
  ),
  "label": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-label),
    "line-height": line-height($text-lh-label, $text-size-label),
    "font-size-md": px-to-rem($text-size-label),
    "line-height-md": line-height($text-lh-label, $text-size-label),
    "font-size-lg": px-to-rem($text-size-label),
    "line-height-lg": line-height($text-lh-label, $text-size-label),
  ),
  "body-sm": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-body-sm),
    "line-height": line-height($text-lh-body-sm, $text-size-body-sm),
    "font-size-md": px-to-rem($text-size-body-sm),
    "line-height-md": line-height($text-lh-body-sm, $text-size-body-sm),
    "font-size-lg": px-to-rem($text-size-body-sm),
    "line-height-lg": line-height($text-lh-body-sm, $text-size-body-sm),
  ),
  "body": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-body),
    "line-height": line-height($text-lh-body, $text-size-body),
    "font-size-md": px-to-rem($text-size-body),
    "line-height-md": line-height($text-lh-body, $text-size-body),
    "font-size-lg": px-to-rem($text-size-body),
    "line-height-lg": line-height($text-lh-body, $text-size-body),
  ),
  "subheading": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-subheading),
    "line-height": line-height($text-lh-subheading, $text-size-subheading),
    "font-size-md": px-to-rem($text-size-subheading),
    "line-height-md": line-height($text-lh-subheading, $text-size-subheading),
    "font-size-lg": px-to-rem($text-size-subheading),
    "line-height-lg": line-height($text-lh-subheading, $text-size-subheading),
  ),
  "heading-sm-tight": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-heading-sm),
    "line-height": line-height($text-lh-heading-sm-tight, $text-size-heading-sm),
    "font-size-md": px-to-rem($text-size-heading-sm),
    "line-height-md": line-height(
        $text-lh-heading-sm-tight,
        $text-size-heading-sm
      ),
    "font-size-lg": px-to-rem($text-size-heading-sm),
    "line-height-lg": line-height(
        $text-lh-heading-sm-tight,
        $text-size-heading-sm
      ),
  ),
  "heading-sm": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-heading-sm),
    "line-height": line-height($text-lh-heading-sm, $text-size-heading-sm),
    "font-size-md": px-to-rem($text-size-heading-sm),
    "line-height-md": line-height($text-lh-heading-sm, $text-size-heading-sm),
    "font-size-lg": px-to-rem($text-size-heading-sm),
    "line-height-lg": line-height($text-lh-heading-sm, $text-size-heading-sm),
  ),
  "heading-md": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-heading-md),
    "line-height": line-height($text-lh-heading-md, $text-size-heading-md),
    "font-size-md": px-to-rem($text-size-heading-md),
    "line-height-md": line-height($text-lh-heading-md, $text-size-heading-md),
    "font-size-lg": px-to-rem($text-size-heading-md),
    "line-height-lg": line-height($text-lh-heading-md, $text-size-heading-md),
  ),
  "heading-xl": (
    "font-name": "gellix",
    "font-size": px-to-rem($text-size-heading-xl),
    "line-height": line-height($text-lh-heading-xl, $text-size-heading-xl),
    "font-size-md": px-to-rem($text-size-heading-xl),
    "line-height-md": line-height($text-lh-heading-xl, $text-size-heading-xl),
    "font-size-lg": px-to-rem($text-size-heading-xl),
    "line-height-lg": line-height($text-lh-heading-xl, $text-size-heading-xl),
  ),
  "display-lg": (
    "font-name": "piepie",
    "font-size": px-to-rem($text-size-display-lg),
    "line-height": line-height($text-lh-display-lg, $text-size-display-lg),
    "font-size-md": px-to-rem($text-size-display-lg),
    "line-height-md": line-height($text-lh-display-lg, $text-size-display-lg),
    "font-size-lg": px-to-rem($text-size-display-lg),
    "line-height-lg": line-height($text-lh-display-lg, $text-size-display-lg),
  ),
);

@mixin generate-text-utilities() {
  @each $name, $properties in $text-settings-array {
    .text-#{$name} {
      $font-name: map.get($properties, "font-name");
      $font-size: map.get($properties, "font-size");
      $line-height: map.get($properties, "line-height");
      $font-size-md: map.get($properties, "font-size-md");
      $line-height-md: map.get($properties, "line-height-md");
      $font-size-lg: map.get($properties, "font-size-lg");
      $line-height-lg: map.get($properties, "line-height-lg");

      @include capsize-trim($font-name, $font-size, $line-height);

      @include md-up {
        @include capsize-trim($font-name, $font-size-md, $line-height-md);
      }

      @include lg-up {
        @include capsize-trim($font-name, $font-size-lg, $line-height-lg);
      }
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0px;

  &.text-animated {
    display: inline-block;
  }

  &.text-bold {
    font-family: $base-font-family-bold;
  }

  &.text-center {
    text-align: center;
  }
  &.text-black {
    font-family: $base-font-family-black;
  }
  &.text-semi-bold {
    font-family: $base-font-family-semi-bold;
  }

  &.text-underline {
    text-decoration: underline;
  }

  &.text-display,
  &.text-display-giga {
    font-weight: normal;
    font-style: normal;
    font-family: $base-font-family-display;
  }
}

@include generate-text-utilities();
