@use "../abstracts/_variables" as *;
@use "../base/_mediaQueries" as *;
@use "./mixins" as *;

.theme {
  background-color: $color-white;
  color: $color-black;

  &.theme-footer {
    background-color: $color-blue;
    color: $color-white;
  }
}
