@use "../abstracts/_variables" as *;
@use "sass:map";
@use "./_mediaQueries" as *;
@use "../abstracts/_mixins" as *;

$color-utilities: (
  "black-base": $color-black-base,
  "white-base": $color-white-base,
  "blue-primary": $color-blue-primary,
  "cyan": $color-cyan,
  "green-dark": $color-green-dark,
  "green": $color-green,
  "green-alt": $color-green-alt,
  "blue-accent": $color-blue-accent,
  "indigo": $color-indigo,
  "purple-dark": $color-purple-dark,
  "mint": $color-mint,
  "red-dark": $color-red-dark,
  "grey": $color-grey,
  "orange": $color-orange,
  "magenta-base": $color-magenta-base,
  "grey-light": $color-grey-light,
  "yellow-base": $color-yellow-base,
  "red": $color-red,
  "red-bright": $color-red-bright,
  "white": $color-white,
  "black": $color-black,
  "white-tint-light": $color-white-tint-light,
  "white-tint-medium": $color-white-tint-medium,
  "white-tint-focus": $color-white-tint-focus,
  "blue": $color-blue,
  "yellow": $color-yellow,
  "light-grey": $color-light-grey,
  "magenta": $color-magenta,
);

@each $name, $value in $color-utilities {
  .color-#{$name} {
    color: $value;
  }
}

.color-nav {
  @include lg-up {
    color: currentColor;
  }
}
